@import './style.module.scss';

.showAlert {
    position: fixed;
    top: -70%;
    left: 2%;

    .alertSuccess {
        background-color: var(--light);
        color: var(--green);
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btnBackToLogin {
            background-color: var(--green);
            color: var(--light);
            width: 100%;
        }
    }

    .alertFail {
        background-color: var(--light);
        color: var(--red);
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.componentForgotPassword {
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: var(--light);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .backToLogin {
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;

    }

    .titleForgotPassword {
        font-size: 3rem;
        font-weight: bold;
        color: var(--primary);
        margin: 20px 0px;
    }

    .titleInput {
        width: 100%;
        text-align: start;
        margin: 20px 0px;
    }

    .inputArea {
        width: 100%;
    }

    .btnSendPassword {
        font-size: 1.2rem;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        background-color: var(--primary);
        color: var(--light);
    }

    .btnSendPassword:hover {
        background-color: var(--indigo);
        color: var(--light);
    }
}