@import 'style.module.scss';

.tabLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/backgroundLogin.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;

    .backToHomePage {
        position: absolute;
        top: 10px;
        left: 20px;
        text-decoration: none;
    }
}