.message-container{
  display: flex;
  max-width: 70%;
  margin: auto;
  flex-wrap: wrap;
}

.message{
  text-align: left;
  border-radius: 1rem;
  background: #4DC7A0;
  padding: 1rem;
  color: white;
  max-width: 50%;
  word-break: break-word;

  &-sender{
    margin-left: auto;
    background: #1c7430;
  }
}
