@import './style.module.scss';


.showAlert {
    position: fixed;
    top: 10px;
    left: calc(50% - 150px);
    z-index: 1000;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.componentRegister {
    position: absolute;
    top: 0;
    left: 30%;
    background-color: var(--light);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .backToLogin {
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;

    }

    .titleRegister {
        font-size: 3rem;
        font-weight: bold;
        color: var(--primary);
        margin: 20px 0px;
    }

    .titleInput {
        width: 100%;
        text-align: start;
        margin: 20px 0px;
    }

    .chooseArea {
        margin: 20px 0px;

        .chooseDOB,
        .chooseGender {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    }

    .chooseArea,
    .groupGender {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .inputArea {
        width: 100%;
    }

    .checkboxAgree {
        width: 100%;
        margin-top: 20px;
    }

    .btnRegister {
        font-size: 1.2rem;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        background-color: var(--primary);
        color: var(--light);
    }

    .btnRegister:hover {
        background-color: var(--indigo);
        color: var(--light);
    }

    .error {
        color: var(--red);
    }

    .comboBox {
        width: 100%;
    }

    .address-select {
        width: 100%;
    }

    .selectAddress {
        width: 100%;
    }

    .optionSelect {
        width: 100%;
        margin-bottom: 20px;
    }

    .option {
        margin: 10px;
    }
}